{% extends "posts/base.html" %}

{% block head_title %} 
{{ instance.title }} | {{ block.super }} 
{% endblock head_title %}

{% block content %}

<div class="col-12 col-sm-10 col-md-8 col-lg-6 mb-1 offset-sm-1 offset-md-2 offset-lg-3">
    <h1>Confirm Delete</h1>
        

                <form method="POST" action="."> {% csrf_token %}
                    <p>Are you sure you want to delete: "{{ object.content }}"?</p>
                    
                    <input type="submit" value="Confirm" class="btn btn-danger">
                    <a href='{{ object.get_absolute_url }}' type="submit" value="Reply" class="btn btn-primary">Cancel</a>
                </form>
            </div>

                    
        <hr/>
</div>
{% endblock content %}
