asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
distlib==0.3.8
Django==5.0.7
django-bootstrap4==24.3
django-cors-headers==4.6.0
django-crispy-forms==2.3
django-markdown-deux==1.0.6
django-pagedown==2.2.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
filelock==3.16.0
flake8==7.1.1
idna==3.7
iniconfig==2.0.0
Markdown==3.7
markdown2==2.5.2
mccabe==0.7.0
mysql-connector-python==9.0.0
mysqlclient==2.2.6
numpy==2.1.1
packaging==24.2
pandas==2.2.2
pillow==10.4.0
platformdirs==4.3.3
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
PyJWT==1.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
tk==0.1.0
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.6
