{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %} Blog Post {% endblock head_title %} </title>                 
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel='stylesheet' href='{% static "css/base.css" %}'>
    
    {% block head_extra %}   {% endblock head_extra %}
</head>
<body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous"  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v21.0"></script>

    {% if messages %}
    <div class="messages">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<div class="container"> 
{% block content %}{% endblock content %}
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/15.0.6/marked.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(".content-markdown").each(function(){
            var content = $(this).text().trim();
            var markedContent = marked.parse(content); 
            markedContent = markedContent.replace(/<pre.*?>.*?<\/pre>/gs, '')
            $(this).html(markedContent);
        });

        $(".post-detail-item img").addClass("img-fluid");
        
    });

</script>



</body>
</html>

