{% extends "posts/base.html" %}
{% block content %}

<div class='col-sm-8 col-sm-offset-3'>
    <h1>{{ title }}</h1><br/>

    {% for obj in object_list %}
    <div class="col-sm-12  mb-4">
        <div class="card">
            {% if obj.image %}
                <img src='{{ obj.image.url }}' class='img-responsive'>
                {% endif %}
            <div class="card-body">
                
                <h5 class="card-title">
                    <a href="{% url 'posts:detail' slug=obj.slug %}">{{ obj.title }}</a> <small>{{ obj.timestamp|timesince }} ago</small>
                </h5>
                <p class="card-text">{{ obj.content|linebreaks|truncatechars:120 }}</p>
                <a href="{% url 'posts:detail' slug=obj.slug %}" class="btn btn-info" role="button">View</a>   
            </div>
        </div>
    </div>
    
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            {% comment %} <a href="?page=1">&laquo; first</a> {% endcomment %}
            <a href="?page={{object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{object_list.number }} of {{object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{object_list.next_page_number }}">next</a>
            {% comment %} <a href="?page={{object_list.paginator.num_pages }}">last &raquo;</a> {% endcomment %}
        {% endif %}
    </span>
</div>
</div>



{% endblock content %}
